.header {
    height: 360rpx;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-top: -1rpx;
    overflow: hidden;
}

.header_back {
    width: 110%;
    height: 360rpx;
    position: absolute;
    top: 0rpx;
    left: -5%;
    bottom: 0rpx;
    right: 0rpx;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.logs_footer {
    font-size: 28rpx;
    text-align: center;
    color: #ccc;
    height: 40rpx;
    width: 100%;
    line-height: 40rpx;
    background: orange;
}

.footer {
    width: 100%;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 26rpx;
    text-align: center;
    color: #999;
    margin-bottom: 60rpx;
}

.footer text {
    display: inline-block;
    vertical-align: top;
    text-indent: 10rpx;
}

.footer image {
    width: 50rpx;
    height: 50rpx;
    border-radius: 3rpx;
}

.header_set {
    height: 50rpx;
    width: 50rpx;
    position: absolute;
    top: 0rpx;
    left: 30rpx;
    padding: 30rpx 30rpx 0rpx;
}

.header_set1 {
    position: absolute;
    top: 50rpx;
    right: 0rpx;
    padding: 6rpx 10rpx 6rpx 20rpx;
    background: #fff;
    border-top-left-radius: 40rpx;
    border-bottom-left-radius: 40rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26rpx;
    color: #f44444;
}

.header_set2 {
    position: absolute;
    top: 150rpx;
    right: 0rpx;
    padding: 6rpx 10rpx 6rpx 20rpx;
    background: #fff;
    border-top-left-radius: 40rpx;
    border-bottom-left-radius: 40rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26rpx;
    color: #f44444;
}

.header_set>image {
    width: 50rpx;
    height: 50rpx;
}

.header_set1>image {
    width: 50rpx;
    height: 50rpx;
    margin-right: 10rpx;
}

.header_set2>image {
    width: 50rpx;
    height: 50rpx;
    margin-right: 10rpx;
}

.header_box {
    position: absolute;
    top: 0rpx;
    left: 0rpx;
    bottom: 0rpx;
    right: 0rpx;
    z-index: 3;
    padding: 60rpx 30rpx 20rpx;
}

.picture {
    width: 150rpx;
    height: 150rpx;
    border-radius: 50%;
}

.header_name {
    font-size: 28rpx;
    text-align: center;
    color: white;
    margin-top: 20rpx;
}

.list {
    margin: -60rpx 30rpx 0rpx;
    height: 270rpx;
    position: relative;
}

.list_content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0rpx;
    left: 0rpx;
    background-color: white;
    border-radius: 20rpx;
}

.list_alllist {
    color: #999;
}

.list_top {
    border-bottom: 1rpx solid #eee;
    padding: 20rpx;
    font-size: 28rpx;
}

.list_alltext {
    color: #333;
    margin-left: 20rpx;
}

.list_all {
    width: 300rpx;
}

.list_allimg {
    width: 50rpx;
    height: 50rpx;
}

.banner {
    padding: 0rpx;
}

.list_right {
    width: 20rpx;
    height: 30rpx;
    margin-left: 10rpx;
}

.list_fukuan {
    padding: 30rpx 30rpx 0rpx;
}

.list_fukuanimg {
    width: 64rpx;
    height: 56rpx;
    margin-bottom: 20rpx;
}

.list_fukuanimg2 {
    width: 52rpx;
    height: 64rpx;
    margin-bottom: 12rpx;
}

.list_fukuanimg3 {
    width: 49rpx;
    height: 56rpx;
    margin-bottom: 20rpx;
}

.list_fukuanimg4 {
    width: 56rpx;
    height: 56rpx;
    margin-bottom: 20rpx;
}

.list_collet {
    font-size: 26rpx;
    color: #333;
}

.banner {
    background-color: white;
    overflow: hidden;
    margin-top: 30rpx;
}

.banner_list {
    padding: 15rpx 30rpx;
    font-size: 28rpx;
    border-bottom: 1rpx solid #eee;
}

.banner_text {
    font-size: 26rpx;
    color: #999;
}







.userDetail{
    height:360rpx;
    width:100%;
    background-color:white;
    display:inline-block;
    margin-top:10rpx;
}

.avatar{
    display:inline-block;
    margin-left:20px;
}

.userAvatar{
    height:200rpx;
    width:200rpx;
    border-radius:50%;
    margin-top:80rpx;
    margin-left:10%;
}

.userInfo{
    display:inline-block;
    width:70%;
    margin-left:-20px;
}

.userName{
    color:#52bad1;
    margin-left:20%;
}


.bar{
width:75%;
height:1px;
margin:0px auto 0px 20%;
padding:0px;
background-color:#52bad1;
overflow:hidden;
}

.proDetail{
    margin-top:10px;
    display:block;
}

.detailContainer{
    margin-left:10%;
    color:#afafaf;
}

.proAnswer{
    display: inline-block;
    width:33%;
    text-align:center;
    font-size:33rpx;
}

.proArticle{
    display: inline-block;
    width:33%;
    text-align:center;
    font-size:33rpx;
}

.proScore{
    display: inline-block;
    width:33%;
    text-align:center;
    font-size:33rpx;
}

.iconSize{
    font-size:44rpx !important;
}

.articles { 
    margin-top: 20rpx;
    background-color:white;
    height: 89rpx; 
    border-top: 1rpx solid #e5e5e5;
    border-bottom: 1rpx solid #e5e5e5; 
    position: relative; 
}

.articles>wx-view { 
    display: inline-block; 
    width: 33%; 
    text-align: center; 
    line-height: 86rpx; 
    font-size: 30rpx; 
}

.articles>wx-view wx-text { 
    display: block; 
    height: 100%; 
    width: auto; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.articles_text1{ 
    width: 33%; 
    height: 8rpx; 
    border-bottom: #8dbfc9 solid 8rpx; 
    position: absolute; 
    bottom: -2rpx; 
}

.select{
    color:#52bad1;
}

.default{
    color:#afafaf;
}