<view class="articles">
        <!-- <view bindtap="wole" class="{{activeIndex1==1?'color1':'color2'}}">所有文章</view> -->
        <view bindtap="selectedAll" class="{{ allAppointments?'select':'default' }}">
                所有预约
                <view class="articles_text1" hidden="{{hiddenAll}}"></view>
        </view>
        <view bindtap="selectedFinished" class="{{ finishedAppointments?'select':'default' }}">
                已确认
                <view class="articles_text1" hidden="{{hiddenFinished}}"></view>
        </view>
        <view bindtap="selectedAwaiting" class="{{ awaitingAppointments?'select':'default' }}">
                待确认
                <view class="articles_text1" hidden="{{hiddenAwaiting}}"></view>
        </view>
</view>
<view wx:if="{{ allAppointments == true }}">
        <view class="creditDetail" wx:if="{{ appointments.length > 0 }}">
                <view class="detailContainer" wx:for="{{ appointments }}" wx:key="*this">
                        <view class="bgCell">
                                <view class="creditTitle">预约专家: {{ item.pro_name }}</view>
                                <view class="creditNumber">专家SKYPE：{{ item.pro_skype }}</view>
                                <view class="creditTime">
                                        预约时间：{{ item.book_date }} {{ item.book_time }}
                                </view>
                                <view class="creditNumber">预约编号：{{ item.order_num }}</view>
                        </view>
                </view>
        </view>
        <view wx:if="{{ appointments.length == 0 }}">
                <image mode="aspectFill" src="../image/none_commen.png" style="width:19%;height:100rpx;margin-left:40.5%;margin-top:30rpx;"></image>
                <view style="width:100%;height:40rpx;line-height:20rpx;font-size:24rpx;text-align:center">
                        没有预约记录哟！
                </view>
        </view>
</view>

<view wx:if="{{ finishedAppointments == true }}">
        <view class="creditDetail" wx:if="{{ appointments.length > 0 }}">
                <view class="detailContainer" wx:for="{{ appointments }}" wx:key="*this">
                        <view class="bgCell">
                                <view class="creditTitle">预约专家: {{ item.pro_name }}</view>
                                <view class="creditNumber">专家SKYPE：{{ item.pro_skype }}</view>
                                <view class="creditTime">
                                        预约时间：{{ item.book_date }} {{ item.book_time }}
                                </view>
                                <view class="creditNumber">预约编号：{{ item.order_num }}</view>
                        </view>
                </view>
        </view>
        <view wx:if="{{ appointments.length == 0 }}">
                <image mode="aspectFill" src="../image/none_commen.png" style="width:19%;height:100rpx;margin-left:40.5%;margin-top:30rpx;"></image>
                <view style="width:100%;height:40rpx;line-height:20rpx;font-size:24rpx;text-align:center">
                        没有预约记录哟！
                </view>
        </view>
</view>

<view wx:if="{{ awaitingAppointments == true }}">
        <view class="creditDetail" wx:if="{{ appointments.length > 0 }}">
                <view class="detailContainer" wx:for="{{ appointments }}" wx:key="*this">
                        <view class="bgCell">
                                <view class="creditTitle">预约专家: {{ item.pro_name }}</view>
                                <view class="creditNumber">专家SKYPE：{{ item.pro_skype }}</view>
                                <view class="creditTime">
                                        预约时间：{{ item.book_date }} {{ item.book_time }}
                                </view>
                                <view class="creditNumber">预约编号：{{ item.order_num }}</view>
                        </view>
                </view>
        </view>
        <view wx:if="{{ appointments.length == 0 }}">
                <image mode="aspectFill" src="../image/none_commen.png" style="width:19%;height:100rpx;margin-left:40.5%;margin-top:30rpx;"></image>
                <view style="width:100%;height:40rpx;line-height:20rpx;font-size:24rpx;text-align:center">
                        没有预约记录哟！
                </view>
        </view>
</view>