<view class="title">加值成功!</view>
<view class="successContainer">
        <view class="word">感谢您！</view>
        <view class="word">您的加值已完成!</view>
        <view class="word">加值金额： $ {{ credit }}</view>
</view>
        <!-- <view bindtap="finishCharge" class="confirmButton">完 成</view> -->
        <button bindtap="finishCharge" class="confirmButton">完 成</button>