<view class="title">付费/加值</view>
<view class="confirmContainer">
  <view class="word" style="padding-top:30rpx;">确认加值</view>
  <view class="word">您的加值金额：</view>
  <view class="word" style="padding-bottom:30rpx;">$ {{credit}}</view>



</view>

<!-- <view bindtap="gotohelp" class="banner_list flex-bet">
  <view class="list_all flex-center">
    <image class="list_allimg" src="../image/symbols-money.png"></image>
    <view class="list_alltext">查看如何使用二维码支付</view>
  </view>
  <view class="list_alllist flex-center">
    <image class="list_right" src="../image/huise@2x.png"></image>
  </view>
</view> -->


<view class="qrcodeContainer" wx:if="{{qrcode!=''}}">
  <image class="qrcodeImage" src="{{qrcode}}"></image>
</view>
<!-- <button bindtap="confirmCredit" class="detailButton">生成支付二维码</button>
-->
<button bindtap="pay" class="detailButton">确认支付</button>