.mf {
    padding: 5rpx 10rpx;
    border-radius: 5rpx;
    margin: 0 20rpx;
    font-size: 22rpx;
    background: #f80;
    color: #fff;
}

.hdjxz {
    font-size: 25rpx;
    color: #ff4544;
    border: 1rpx solid #ff4544;
    border-radius: 10rpx;
    padding: 5rpx 10rpx;
    margin-right: 10rpx;
}

.hdjxz1 {
    font-size: 25rpx;
    color: #999;
    border: 1rpx solid #999;
    border-radius: 10rpx;
    padding: 5rpx 10rpx;
    margin-right: 10rpx;
}

.hdmoney {
    padding: 0 20rpx;
    border-left: 1rpx solid #d5d5d5;
    margin-left: 20rpx;
}

.hdright text {
    color: #ff4544;
    margin-right: 10rpx;
    font-weight: bold;
}

.body {
    width: 100%;
    height: auto;
}

.banner {
    width: 100%;
    height: 360rpx;
}

.swiper-container {
    position: relative;
}

.swiper-container .swiper {
    height: 360rpx;
}

.swiper-container .swiper .img {
    width: 100%;
    height: 100%;
}

page {
    font-size: 28rpx;
}

.vdtitle {
    font-size: 32rpx;
    color: black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading {
    width: 100%;
    height: 60rpx;
    background: #fff;
    color: #999;
    line-height: 60rpx;
    text-align: center;
    font-size: 22rpx;
}

.loading image {
    width: 69rpx;
    height: 15rpx;
}

.none_store {
    width: 100%;
    height: 400rpx;
    background: #fff;
}

.none_store>view:nth-child(1) {
    width: 100%;
    height: 350rpx;
}

.img1 {
    height: 70%;
    width: 40%;
}

.img2 {
    height: 100%;
}

.none_store>view:nth-child(2) {
    width: 100%;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 28rpx;
    color: #999;
}

.home {
    width: 100%;
    overflow-x: hidden;
}

.marry {
    width: 100%;
    height: 85rpx;
    background-color: white;
    margin-top: 20rpx;
    font-size: 28rpx;
    border-bottom: 1rpx solid #eee;
    overflow-x: scroll;
    white-space: nowrap;
    color: #999;
}

.lunItem {
    padding: 1rpx;
    flex: 1;
    margin-right: 20rpx;
}

.luntext {
    font-size: 30rpx;
}

.proitem {
    font-size: 30rpx;
    color: #666;
    padding: 15rpx 30rpx;
    position: relative;
    text-align: center;
}

.proitem.weuibaron {
    color: #ED414A;
    font-weight: bold;
    position: relative;
    font-size: 34rpx;
    border-bottom: 5rpx solid #ED414A;
}

.tcbanner {
    margin-top: 20rpx;
    background-color: white;
    padding: 30rpx;
    border-bottom: 1rpx solid #eee;
}

.tcremark {
    color: #777;
    margin-top: 10rpx;
}

.tchuifuimg {
    width: 30rpx;
    height: 30rpx;
    margin-left: 30rpx;
    margin-right: 10rpx;
}

.tchuifuimg1 {
    width: 30rpx;
    height: 20rpx;
    margin-left: 30rpx;
    margin-right: 10rpx;
}

.tcsection {
    width: 100%;
    border-radius: 20rpx;
    overflow: hidden;
}

.tcsection>image {
    width: 100%;
    height: 300rpx;
    border-radius: 20rpx;
}

.secremark {
    width: 95%;
    position: absolute;
    left: 0rpx;
    top: 0rpx;
    padding: 20rpx;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: 36rpx;
}

.newest_content {
    width: 80%;
    height: 50rpx;
    float: left;
    line-height: 50rpx;
    margin-left: 10rpx;
    font-size: 28rpx;
    color: #333;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 360rpx;
}

.swiper-container .swiper {
    height: 360rpx;
}

.swiper-container .swiper .img {
    width: 100%;
    height: 100%;
}

.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20rpx;
    display: flex;
    width: 238rpx;
    margin: auto;
    border-radius: 10rpx;
    height: 20rpx;
    justify-content: center;
}

.dot {
    margin: 4rpx 8rpx;
    width: 30rpx;
    height: 6rpx;
    background: rgb(255,255,255);
    border: rgb(218,69,70) solid 1rpx;
    border-radius: 8rpx;
    transition: all 0.6s;
}

.active {
    width: 30rpx;
    background: #f80;
}