.sjgg {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sjgg image {
    width: 40rpx;
    height: 40rpx;
}

.container {
    position: absolute;
    z-index: 999;
    background: black;
    height: 70rpx;
    color: #fff;
    font-size: 28rpx;
    opacity: 0.6;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.scrolltxt {
    padding: 0 20rpx;
    display: flex;
    flex-direction: row;
}

.marquee_box {
    flex: 1;
    position: relative;
    height: 70rpx;
    display: block;
    overflow: hidden;
}

.marquee_text {
    white-space: nowrap;
    position: absolute;
    top: 0;
    font-size: 14px;
    height: 70rpx;
    line-height: 70rpx;
}

.plate_form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.plate_form button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26rpx;
    line-height: 100rpx;
    background: none;
}

.plate_form button::after {
    border: none;
}

.store_ewm {
    margin-top: 6rpx;
    width: 100%;
    height: auto;
    background: #fff;
}

.store_ewm>view:nth-child(1) {
    width: 100%;
    height: 60rpx;
    font-size: 28rpx;
    text-align: center;
    line-height: 60rpx;
    color: #666;
}

.store_ewm>view:nth-child(2) {
    width: 100%;
    height: 260rpx;
}

.store_ewm>view:nth-child(3) {
    width: 100%;
    height: 60rpx;
    font-size: 28rpx;
    text-align: center;
    line-height: 60rpx;
    color: #666;
}

.store_ewm>view:nth-child(4) {
    width: 100%;
    height: 150rpx;
}

.store_ewm>view image {
    width: 250rpx;
    height: 250rpx;
}

.store_ewm>view text {
    color: #ed414a;
}

.store_ewm>view view {
    width: 43%;
    height: 65rpx;
    line-height: 65rpx;
    color: #ed414a;
    font-size: 28rpx;
    background: none;
    border-radius: 50rpx;
    border: 2rpx solid #ed414a;
    text-align: center;
}

.color1 {
    background: lightsalmon;
}

.color2 {
    background: #52cb6a;
}

.color3 {
    background: lightseagreen;
}

.color4 {
    background: #ed414a;
}

.color5 {
    background: #6785e5;
}

.footer {
    width: 100%;
    height: 90rpx;
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.footer>view {
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.footer>view:nth-child(1) {
    width: 20%;
}

.footer>view:nth-child(2) {
    width: 20%;
}

.footer>view:nth-child(3) {
    width: 20%;
}

.footer>view:nth-child(4) {
    width: 40%;
    text-align: center;
    background: #ed414a;
    color: #fff;
    overflow: hidden;
}

.coupon {
    width: 100%;
    height: 400rpx;
    background: orange;
}

.more {
    margin-top: 20rpx;
    width: 100%;
    height: 70rpx;
    line-height: 70rpx;
    background: #fff;
}

.more>text:nth-child(1) {
    float: left;
    text-indent: 20rpx;
    color: #333;
    font-size: 30rpx;
}

.more>text:nth-child(2) {
    float: right;
    margin-right: 15rpx;
    color: #999;
    font-size: 26rpx;
}

.commodity {
    width: 100%;
    height: auto;
}

.commodity>view {
    width: 95%;
    height: auto;
    margin: 0 auto 0;
}

.goods {
    width: 49%;
    height: auto;
    overflow: hidden;
    margin-top: 20rpx;
    display: inline-block;
    background: #fff;
    box-sizing: border-box;
}

.child>view:nth-child(odd) {
}

.child>view:nth-child(even) {
    margin-left: 2%;
}

.goods_img {
    width: 100%;
    height: 300rpx;
}

.goods>view {
    width: 100%;
}

.goods>view:nth-child(2) {
    height: 80rpx;
    line-height: 40rpx;
    font-size: 26rpx;
    font-weight: 500;
    padding-left: 10rpx;
    padding-right: 10rpx;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.goods>view:nth-child(3) {
    height: 60rpx;
    line-height: 60rpx;
    font-size: 22rpx;
}

.goods>view:nth-child(4) {
    height: 60rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    width: 100%;
    top: 1%;
    left: -39%;
    text-align: center;
    background: #ed414a;
    transform: rotate(-45deg);
    color: #fff;
}

.goods>view:nth-child(5) {
    height: 40rpx;
    width: 40rpx;
    bottom: 10rpx;
    right: 30rpx;
}

.goods>view image {
    width: 100%;
    height: 100%;
}

.nav_phone>view:nth-child(1) {
    height: 50%;
    font-size: 28rpx;
    width: 100%;
    line-height: 60rpx;
}

.nav_phone>view:nth-child(2) {
    height: 50%;
    width: 100%;
    font-size: 26rpx;
    line-height: 40rpx;
}

.icon {
    width: 100%;
    height: 60%;
}

.icon image {
    width: 45rpx;
}

.nav_title {
    width: 100%;
    height: 40rpx;
    font-size: 24rpx;
    line-height: 40rpx;
}

.swiper-container {
    position: relative;
}

.swiper-container .swiper {
    height: 360rpx;
}

.swiper-container .swiper .img {
    width: 100%;
    height: 100%;
}

.vr_store {
    width: 200rpx;
    height: 60rpx;
    line-height: 60rpx;
    right: 0;
    top: 30rpx;
    text-align: center;
    font-size: 28rpx;
    color: #fff;
    background: #ed414a;
    border-radius: 12rpx;
}

.background1 {
    background: #e5e5e5;
}

.wechat {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3000;
}

.wechat>view:nth-child(1) {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2000;
    opacity: 0.6;
}

.wechat>view:nth-child(2) {
    width: 500rpx;
    height: 550rpx;
    z-index: 3000;
    background: #fff;
    border-radius: 15rpx;
}

.wechat>view image {
    width: 300rpx;
    height: 300rpx;
    left: 100rpx;
    top: 100rpx;
}

.baocun {
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    font-size: 28rpx;
    text-align: center;
}

.sele {
    margin-top: 300rpx;
    width: 100%;
    height: 70rpx;
    line-height: 70rpx;
    font-size: 26rpx;
    color: #999;
    text-align: center;
}

.queding {
    width: 100%;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 28rpx;
    color: #333;
    text-align: center;
}

.queding text {
    padding: 0rpx 20rpx;
    display: inline-block;
    border-radius: 10rpx;
    border: 1rpx solid #e5e5e5;
}

.comments button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
}

.comments button:after {
    border: none;
}

canvas {
    position: fixed;
    top: 0;
}

.comments {
    width: 90rpx;
    height: 90rpx;
    right: 20rpx;
    position: fixed;
    border-radius: 50%;
    text-align: center;
    z-index: 100;
    color: #fff;
    font-size: 28rpx;
    line-height: 90rpx;
}

.border_one {
    bottom: 200rpx;
}

.border_two {
    bottom: 310rpx;
}

.border_three {
    bottom: 420rpx;
}

.border_four {
    bottom: 530rpx;
}

.publish {
    width: 80%;
    height: 500rpx;
    border-radius: 15rpx;
    border: 1rpx solid #e5e5e5;
    position: fixed;
    left: 10%;
    background: #fff;
    bottom: 300rpx;
    z-index: 1000;
    overflow: hidden;
}

.publish .user_info {
    width: 100%;
    height: 100rpx;
}

.user_info>view {
    float: left;
}

.user_info>view:nth-child(1) {
    width: 140rpx;
    height: 100%;
}

.user_info>view:nth-child(2) {
    width: 300rpx;
    height: 100%;
    line-height: 100rpx;
    font-size: 28rpx;
}

.details {
    width: 100%;
    height: 400rpx;
}

.stt {
    width: 100%;
    height: 80rpx;
}

.texta {
    width: 100%;
    height: 220rpx;
}

.dibu {
    width: 100%;
    height: 100rpx;
    border-top: 1rpx solid #e5e5e5;
    position: absolute;
    bottom: 0;
}

.details>view textarea {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    font-size: 28rpx;
}

.star {
    width: 100%;
    height: 40rpx;
    line-height: 40rpx;
    font-size: 24rpx;
}

.star>view:nth-child(1) {
    margin-left: 2.5%;
}

.star>view {
    width: 40rpx;
    height: 40rpx;
    margin-right: 15rpx;
    float: left;
}

.star>view image {
    width: 40rpx;
}

.cancel,.ensure {
    width: 50%;
    height: 100%;
    line-height: 100rpx;
    font-size: 26rpx;
    text-align: center;
    color: #666;
    box-sizing: border-box;
}

.ensure {
    border-left: 1rpx solid #e5e5e5;
}

.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20rpx;
    display: flex;
    background: #000;
    width: 120rpx;
    margin: auto;
    border-radius: 10rpx;
    height: 20rpx;
    justify-content: center;
}

.dot {
    margin: 4rpx 8rpx;
    width: 10rpx;
    height: 10rpx;
    background: #fff;
    border-radius: 8rpx;
    transition: all 0.6s;
}

.active {
    width: 34rpx;
}

.header {
    background-color: white;
    padding: 20rpx;
    margin-top:10px;
}

.top_tou {
    width:30%;
    height:210rpx;
    border-radius:50%;
    min-width:120rpx;
    border:solid 1px #52bad1;
    margin-left:35%;

}

.top_right {
    margin-left: 15rpx;
}

.top_title {
    font-size: 33rpx;
    color: #52bad1;
    text-align: center;
}

.top_xing {
    margin-top: 20rpx;
}

.top_xing2>image,.top_xing>image {
    width: 30rpx;
    height: 30rpx;
    margin-right: 5rpx;
}

.top_xingtext {
    font-size: 26rpx;
    color: #999;
    margin-left: 20rpx;
}

.top_renqi {
    margin-top: 20rpx;
    font-size: 26rpx;
    color: #999;
}

.top_renqi>text:nth-child(1) {
    margin-right: 15rpx;
}

.dizhi {
    margin-top: 20rpx;
    padding: 20rpx 0rpx;
    border-top: 1rpx solid #eee;
    border-bottom: 1rpx solid #eee;
    font-size: 26rpx;
}

.dizhi_topimg {
    width: 30rpx;
    height: 40rpx;
}

.dizhi_toptext {
    color: #666;
    margin-left: 20rpx;
    width: 550rpx;
}

.dizhi_time {
    margin-top: 20rpx;
}

.dizhi_tellimg {
    width: 30rpx;
    height: 35rpx;
}

.dizhi_timeimg {
    width: 40rpx;
    height: 40rpx;
}

.dizhi_font1 {
    color: #666;
    margin-left: 15rpx;
}

.dizhi_font2 {
    color: #ed414a;
    margin-left: 15rpx;
}

.set {
    width: 215rpx;
    height: 50rpx;
    margin-top: 25rpx;
    margin-right: 18rpx;
}

.setimg {
    width: 50rpx;
    height: 50rpx;
}

.setext {
    margin-left: 20rpx;
    font-size: 26rpx;
    color: #666;
}

.check {
    margin: 20rpx 0rpx;
    padding: 10rpx 15rpx;
    background-color: white;
}

.checkgo {
    width: 120rpx;
    height: 60rpx;
    background-color: #ed414a;
    border-radius: 10rpx;
    color: white;
    font-size: 26rpx;
    line-height: 60rpx;
    text-align: center;
}

.check_img {
    width: 50rpx;
    height: 50rpx;
}

.check_text {
    color: #999;
    font-size: 22rpx;
    margin-left: 15rpx;
}

.weui-navbar {
    background-color: white;
    border-bottom: none;
    font-size: 28rpx;
    height: 70rpx;
    position: relative;
}

.weui-navbar__item {
    width: 20%;
    text-align: center;
}

.weui-navbar__item.weui-bar__item_on {
    color: #ed414a;
}

.weui-navbar__slider {
    background-color: #ed414a;
    width: 120rpx;
    height: 5rpx;
    position: absolute;
    transition: all 0.2s;
    bottom: 0rpx;
}

.user {
    background-color: white;
    font-size: 28rpx;
    height: 70rpx;
    position: relative;
    border-bottom: 1rpx solid #eee;
    margin-top: 20rpx;
}

.selle {
    width: 50%;
    text-align: center;
}

.selle.selle_on {
    color: #ed414a;
}

.user_slider {
    background-color: #ed414a;
    width: 300rpx;
    height: 5rpx;
    position: absolute;
    transition: all 0.2s;
    bottom: 0rpx;
}

.dynamic_box {
    padding: 10rpx 15rpx;
    background-color: white;
}

.dynamic_img {
    width: 100%;
    height: auto;
}

.dynamic_text {
    font-size: 30rpx;
    line-height: 45rpx;
    word-break: normal;
    padding-top: 10rpx;
    color: #666;
}

.dynamic_img image {
    width: 100%;
    height: auto;
}

.dynamic_text>view {
    width: 33.3%;
    overflow: hidden;
    height: 40rpx;
    line-height: 40rpx;
    border-radius: 10rpx;
    text-align: center;
    display: inline-block;
    margin-bottom: 10rpx;
}

.dynamic {
    padding-bottom: 110rpx;
}

.dynamic_text>view view:nth-child(1) {
    width: 40rpx;
    height: 100%;
    float: left;
    margin-left: 20rpx;
    margin-right: 10rpx;
}

.dynamic_text>view view image {
    width: 40rpx;
    height: 40rpx;
}

.dynamic_text>view view:nth-child(2) {
    float: left;
    height: 100%;
}

.dynamic_img {
    height: 400rpx;
    width: 100%;
    margin-top: 15rpx;
}

.dynamic_img>image {
    height: auto;
    width: 100%;
}

.dynamic_title {
    font-weight: bold;
    margin-top: 40rpx;
    color: #333;
    font-size: 28rpx;
    line-height: 40rpx;
}

.dynamic_address {
    height: 300rpx;
    width: 100%;
    margin-top: 15rpx;
}

.dynamic_address>image {
    height: 300rpx;
    width: 100%;
}

.dynamic_foot {
    margin-top: 20rpx;
    background-color: white;
    margin-bottom: 30rpx;
    padding: 20rpx;
}

.dynamic_shang {
    background-color: #ed414a;
    padding: 0rpx 5rpx;
    color: white;
    font-size: 26rpx;
    border-radius: 5rpx;
    line-height: 35rpx;
}

.title {
    text-align: center;
    line-height: 150rpx;
    font-size: 30rpx;
    color: #666;
    width: 100%;
    height: 220rpx;
    background: #fff;
}

.foot_text {
    color: #666;
    font-size: 26rpx;
    margin-left: 15rpx;
}

.foot_zhu {
    font-size: 22rpx;
    color: #ed414a;
}

.comment {
    padding: 0rpx 20rpx 150rpx 0;
    background-color: white;
}

.comment_one {
    border-bottom: 1rpx solid #eee;
    padding: 20rpx 0rpx;
    margin-left: 10rpx;
    white-space: nowrap;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.comment_tou {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
}

.comment_banner {
    margin-left: 15rpx;
    width: 600rpx;
    font-size: 26rpx;
}

.comment_hui {
    width: 30rpx;
    height: 30rpx;
    margin-right: 10rpx;
}

.comment_huifu {
    color: #999;
}

.top_xing2 {
    margin-top: 10rpx;
    white-space: pre-wrap;
}

.top_xing3 {
    margin-top: 10rpx;
    width: 450rpx;
}

.down_image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5000;
    background: orange;
    overflow: hidden;
}

.top{
    display:block;
    padding-top:20px;
    padding-bottom:20px;
}

.top_details{
    font-size:20rpx;
    color:#afafaf;
    width:60%;
    margin-left:20%;
    text-align:center;
}

.proDetail{
    background-color: white;
    margin-top:10px;
    display:block;
}

.detailContainer{
    width:80%;
    margin-left:10%;
    color:#afafaf;
}

.proAnswer{
    display: inline-block;
    width:33%;
    text-align:center;
    font-size:33rpx;
}

.proArticle{
    display: inline-block;
    width:33%;
    text-align:center;
    font-size:33rpx;
}

.proScore{
    display: inline-block;
    width:33%;
    text-align:center;
    font-size:33rpx;
}

.iconSize{
    font-size:44rpx !important;
}

.skypeAppointment{
    margin-top:10px;
    background-color:white;
    display:block;
    height:60px;
}

.onlineAppointment{
    margin-top:10px;
    background-color:white;
    display:block;
    height:60px;
}

.appointmentTitle{
    color:#afafaf;
    display:inline-block;
    font-size:33rpx;
    margin-left:60rpx;
    margin-top:18px;
}

.appointmentButton{
    display:inline-block;
    background-color:#52bad1;
    width:20%;
    text-align:center;
    border-radius:100rpx;
    box-shadow:0 0 5rpx #afafaf;
    float:right;
    margin-top:18rpx;
    margin-right:30rpx;
    font-size:33rpx;
    color:white;
}