<form bindreset="formReset" bindsubmit="formSubmit" reportSubmit="true">
    <!-- <view class="header">
        <view class="header_title">发布{{info}}信息</view>
        <view bindtap="know" class="header_right">发布须知</view>
    </view> -->
    <view class="title">我要发文</view>
    <view class="content">
        <view class="contentDetail">
            <view class="content_miao">文章主题: {{ type_name }}</view>
            <view class="content_miao">题目</view>
            <view class="zhuti_miaoshu_box">
                <textarea class="miaoshu" maxlength="540"  name="post_title" placeholder="请输入内容描述"></textarea>
            </view>
            <view class="content_miao">提问内容</view>
            <view class="miaoshu_box">
                <textarea class="miaoshu" maxlength="540"  name="content" placeholder="请输入内容描述"></textarea>
            </view>
        </view>
    </view>
    <view class="upload">
        <view class="content_add rel" wx:for="{{imgArray1}}" wx:key="*this">
            <view bindtap="delete" class="delete ab" data-inde="{{index}}">
                <image class="ab" mode="aspectFill" src="../../image/delete.png"></image>
            </view>
            <image bindtap="previewImage" class="add_img" data-index="{{index}}" mode="aspectFill" src="{{url1}}{{item}}"></image>
        </view>
        <view bindtap="imgArray1" class="content_add">
            <image class="add_img" src="../../image/add.png"></image>
        </view>
    </view>
    <view class="label">
        <view bindtap="label" class="{{item.click_class}}" data-id="{{item.id}}" data-inde="{{index}}" wx:for="{{label}}" wx:key="*this">
            {{item.label_name}}
        </view>
    </view>
    <view class="banner">
        <view class="banner_list border flex-center">
            <view class="banner_name">联系人：</view>
            <input class="banner_text" name="name" placeholderStyle="color:#999;font-size:28rpx;" value="{{name}}"></input>
        </view>
        <view class="banner_list2 border  flex-center">
            <view class="banner_name">联系方式：</view>
            <input class="banner_text" name="tel" placeholder="请输入您的联系方式" placeholderStyle="color:#999;font-size:28rpx;" type="number"></input>
        </view>
        <view class="banner_list3 flex-center" wx:if="{{System.is_tzdz=='1'}}">
            <view class="banner_name">具体位置</view>
            <view style="flex:1">
                <input name="dzaddress" placeholder="输入地址或点击地图选择-->" value="{{address}}"></input>
            </view>
            <image bindtap="add" class="dt" src="../../image/address3.png"></image>
        </view>
        <!-- <view class="banner_list3 flex-center" style="border-top:1rpx solid #e5e5e5;" wx:if="{{money>=0}}">
            <view class="banner_name">发帖费用：</view>
            <view class="banner_text">{{money}}</view>
        </view> -->
    </view>
    <!-- <view class="banner">
        <view class="banner_fuli flex-bet">
            <view style="font-size:28rpx;">是否置顶</view>
            <switch bindchange="switch1Change" checked="{{iszdchecked}}"></switch>
        </view>
        <view class="banner_list3 flex-center" style="border-top:1rpx solid #e5e5e5;color:#ED414A" wx:if="{{stick_none==true}}">
            <view class="banner_name">置顶：</view>
            <view class="banner_text">{{stick_info}}</view>
        </view>
    </view> -->
    <view class="banner" wx:if="{{showUnlockFunction == true}}">
        <view class="banner_fuli flex-bet">
            <view style="font-size:28rpx;">是否免费观看</view>
            <switch bindchange="switchCost" checked="{{checked_cost}}"></switch>
        </view>
    </view>
    <view class="banner">
         <view class="banner_fuli flex-bet">
            <view style="font-size:28rpx;">是否设置赏金</view>
            <switch bindchange="switchBounty" checked="{{checked_bounty}}"></switch>
        </view>
    </view>
    <view class="banner" wx:if="{{checked_bounty && currentUser.responder}}">
        <view class="banner_list border flex-center">
            <view class="banner_name">积分类型：</view>
            <radio-group class="radio-group" name="creditType">
                <view>
                    <label class="radio">
                        <radio value="userCredit" checked>普通积分 (剩余{{credit.userCredit}})</radio>
                    </label>
                </view>
                <view>
                    <label class="radio">
                        <radio value="responderCredit">专家积分 (剩余{{credit.responderCredit}})</radio>
                    </label>
                </view>
            </radio-group>
        </view>
    </view>
    <view class="banner" wx:if="{{checked_bounty }}">
        <view class="banner_list border flex-center">
            <view class="banner_name">
                <view>赏金金额：</view>
                <view wx:if="{{!currentUser.responder}}">(剩余{{credit.userCredit}})</view>
            </view>
            <input class="banner_text" name="bounty_money" type="number"></input>
        </view>
    </view>
    <!-- <view class="banner" wx:if="{{System.is_tzhb=='1'}}">
        <view class="banner_fuli flex-bet">
            <view style="font-size:28rpx;">塞福利（可提高阅读量和转发量）</view>
            <switch bindchange="switch2Change" checked="{{checked_welfare}}"></switch>
        </view>
    </view>
    <view class="banner" wx:if="{{checked_welfare==true}}">
        <view class="banner_list border flex-center" wx:if="{{checked_average==false}}">
            <view class="banner_name">福利金额：</view>
            <input class="banner_text" name="welfare_money" placeholder="1至2000元" placeholderStyle="color:#999;font-size:28rpx;" type="digit"></input>
        </view>
        <view class="banner_list2 border  flex-center" wx:if="{{checked_average==false}}">
            <view class="banner_name">分成几份：</view>
            <input class="banner_text" name="welfare_share" placeholder="分成几份(至少一份)" placeholderStyle="color:#999;font-size:28rpx;" type="number"></input>
        </view>
        <view class="banner_list border flex-center" wx:if="{{checked_average==true}}">
            <view class="banner_name">单个金额：</view>
            <input class="banner_text" name="welfare_money" placeholder="0.1至2000元" placeholderStyle="color:#999;font-size:28rpx;" type="digit"></input>
        </view>
        <view class="banner_list2 border  flex-center" wx:if="{{checked_average==true}}">
            <view class="banner_name">总共几份：</view>
            <input class="banner_text" name="welfare_share" placeholder="总共多少份(至少一份)" placeholderStyle="color:#999;font-size:28rpx;" type="number"></input>
        </view>
        <view class="banner_fuli flex-bet">
            <view style="font-size:28rpx;">是否平均分配福利</view>
            <switch bindchange="switch3Change" checked="{{checked_average}}"></switch>
        </view>
        <view class="banner_fuli flex-bet" style="border-top:1rpx solid #e5e5e5">
            <view style="font-size:28rpx;">是否开启口令模式</view>
            <switch bindchange="switch4Change" checked="{{checked_password}}"></switch>
        </view>
        <view class="banner_list2 border  flex-center" wx:if="{{checked_password==true}}">
            <view class="banner_name">福利口令：</view>
            <input class="banner_text" name="welfare_pass" placeholder="请用中文写出口令" placeholderStyle="color:#999;font-size:28rpx;"></input>
        </view>
    </view> -->
    <!-- <view class="procedures" wx:if="{{System.is_tzhb=='1'}}">红包手续费 {{procedures}}%</view> -->
    <view class="banner" style="height:150rpx;background:#F2F2F2"></view>
    <button class="confirm" disabled="{{disabled}}" formType="submit">确认发布</button>
    <!-- <view class="base" wx:if="{{checked==true}}">
        <view class="rel">选择置顶让更多人看到</view>
        <view bindtap="selected" class="array rel" id="{{index}}" wx:for="{{stick}}" wx:key="*this">
            {{item.array}}
        </view>
        <view bindtap="cancel" class="rel">取消置顶</view>
    </view> -->
</form>
<!-- <view class="zhezhao" wx:if="{{know==true}}"></view>
<view class="kcrzxy" wx:if="{{know==true}}">
    <view class="kcrzxyhd">发布须知</view>
    <scroll-view scrollY class="kcrzxybd" style="height: 600rpx;">
        <rich-text nodes="{{System.ft_xuz}}"></rich-text>
    </scroll-view>
    <view bindtap="know" class="queren">确定</view>
</view> -->