.title{
    color:#52bad1;
    font-size: 40rpx;
    text-align:center;
    margin: 20rpx;
}

.creditContainer{
    background-color: white;
    min-height:300px;
}

.word{
    font-size:22rpx;
    text-align:center;
    color:#afafaf;
    padding:40rpx 0 40rpx 0;
}

.moneyButton{
    border:solid 2px #52bad1;
    border-radius:50px;
    vertical-align:center;
    width:50%;
    margin-left:25%;
    margin-top:20px;
    
}

.moneyIcon{
    height:60rpx;
    width:60rpx;
    margin-top:7px;
    margin-left:10px;


}

.amount{
    color:#52bad1;
    display:inline;
    font-size:50rpx;
    float:right;
    margin-right:20rpx;
    margin-top:3px;


}

.charge{
    display:inline;
}

.hoverButton{
    background-color: #b0e5f1;
}

.detailButton{
    background-color: #52bad1;
    color: white;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    border-radius: 0;
}