<view class="articles">
    <view bindtap="selectedAll" class="{{ allArticles?'select':'default' }}">
        所有文章
        <view class="articles_text1" hidden="{{hiddenAllArticles}}"></view>
    </view>
    <view bindtap="selectedAlready" class="{{ answeredArticles?'select':'default' }}">
        已解答
        <view class="articles_text1" hidden="{{hiddenAlready}}"></view>
    </view>
    <view bindtap="selectedNot" class="{{ notAnsweredArticles?'select':'default' }}">
        未解答
        <view class="articles_text1" hidden="{{hiddenNot}}"></view>
    </view>
</view>
<view wx:if="{{allArticles==true}}">
    <view class="loop"  wx:for="{{ allPosts }}" wx:key="id">
        <view bindtap="see" data-id="{{item.id}}">
            <view class="loopContent">
                <image class="lockSize" src="../image/symbols-lock-unlock.png" />
                <view class="content_zheng color1" wx:if="{{item.type_name!=null}}">
                                {{item.type_name.type_name}}
                            </view>
                <view class="question constraint-word">{{item.post_title}}</view>
                <view class="answerTitle">专业回答：</view>
                <view class="answer">{{ item.comments.details }}</view>
                <view class="postTime">{{item.datetime}} 发布</view>
                
            </view>
            <!-- <view class="arrowIcon">
                        <image src="../image/huise@2x.png"/>
                    </view> -->
            <!-- <view class="arrowIcon">
                        <i-icon type="enter" bindtap="see" data-id="{{item.id}}"/>
                    </view> -->
        </view>
    </view>
</view>
<view wx:if="{{answeredArticles==true}}">
    <view class="loop"  wx:for="{{ allPosts }}" wx:key="id">
        <view bindtap="see" data-id="{{item.id}}">
            <view class="loopContent">
                <image class="lockSize"  src="../image/symbols-lock-unlock.png" />
                <view class="content_zheng color1" wx:if="{{item.type_name!=null}}">
                                {{item.type_name.type_name}}
                            </view>
                <view class="question constraint-word">{{item.post_title}}</view>
                <view class="answerTitle">专业回答：</view>
                <view class="answer">{{ item.comments.details }}</view>
                <view class="postTime">{{item.datetime}} 发布</view>
                
            </view>
            <!-- <view class="arrowIcon">
                        <image src="../image/huise@2x.png"/>
                    </view> -->
            <!-- <view class="arrowIcon">
                        <i-icon type="enter" bindtap="see" data-id="{{item.id}}"/>
                    </view> -->
        </view>
    </view>
</view>
<view wx:if="{{notAnsweredArticles==true}}">
    <view class="loop"  wx:for="{{ allPosts }}" wx:key="id">
        <view bindtap="see" data-id="{{item.id}}">
            <view class="loopContent">
                <image class="lockSize" src="../image/symbols-lock-unlock.png" />
                <view class="content_zheng color1" wx:if="{{item.type_name!=null}}">
                                {{item.type_name.type_name}}
                            </view>
                <view class="question constraint-word">{{item.post_title}}</view>
                <view class="answerTitle">专业回答：</view>
                <view class="answer">{{ item.comments.details }}</view>
                <view class="postTime">{{item.datetime}} 发布</view>
                
            </view>
            <!-- <view class="arrowIcon">
                        <image src="../image/huise@2x.png"/>
                    </view> -->
            <!-- <view class="arrowIcon">
                        <i-icon type="enter" bindtap="see" data-id="{{item.id}}"/>
                    </view> -->
        </view>
    </view>
</view>
<!-- <view wx:if="{{ history==true }}"></view>
<view wx:if="{{ articles==true }}"></view>
<view wx:if="{{ score==true }}"></view>
<view class="page__bd">
    <view class="weui-navbar flex-bet">
        <view bindtap="tabClick" class="weuiitem {{activeIndex==index?'weui-bar__item_on':''}}" id="{{index}}" wx:for="{{tabs}}" wx:key="*this">
            <view>{{item}}</view>
        </view>
        <view class="weui-navbar__slider" style="left: {{sliderLeft}}px; transform: translateX({{sliderOffset}}px); -webkit-transform: translateX({{sliderOffset}}px);"></view>
    </view>
    <view style="background:#e5e5e5;width:100%;height:5rpx;"></view>
    <view class="rel" hidden="{{activeIndex!=0}}">
        <view class="content" wx:if="{{slide!=null||slide.length!=0}}" wx:for="{{slide}}">
            <view class="content_top">
                <view class="content_left">
                    <image class="content_img" src="{{user_img}}"></image>
                    <view class="content_zhong">
                        <view class="content_name">{{item.user_name}}</view>
                        <view class="content_text">
                            <view class="content_zheng color2" wx:if="{{item.top==1}}">置顶</view>
                            <view class="content_zheng color1" wx:if="{{item.type2_name!=null}}">
                                {{item.type2_name}}
                            </view>
                            <view class="content_zheng color1" wx:if="{{item.type_name!=null}}">
                                {{item.type_name}}
                            </view>
                        </view>
                    </view>
                </view>
                <view class="content_right">
                    <view bindtap="dkxf" class="rel xufei" data-id="{{item.id}}" wx:if="{{item.state=='2'&&item.top=='1'}}">
                        续费
                    </view>
                    <view bindtap="dkxf" class="rel xufei" data-id="{{item.id}}" wx:if="{{item.state=='2'&&item.top!='1'}}">
                        置顶
                    </view>
                    <view bindtap="shuaxin" class="rel shuaxin" data-id="{{item.id}}" data-typeid="{{item.type_id}}" wx:if="{{item.state=='2'&&item.hb_money=='0.00'}}">
                        刷新
                    </view>
                </view>
            </view>
            <view class="content_wen gobyndmulit">{{item.details}}</view>
            <view class="content_picture" wx:if="{{item.img!=''}}">
                <image mode="aspectFill" src="{{url}}{{item}}" wx:for="{{item.img}}"></image>
            </view>
            <view class="content_chakan">
                <view class="content_info">{{item.time}}发布 {{item.cityname}}</view>
                <view bindtap="see" class="content_info2" data-id="{{item.id}}">查看详情>></view>
            </view>
            <view class="content_liulan1">
                <view class="bjsc">
                    <image class="eye" src="../image/liulan.png"></image>
                    <view class="content_num">{{item.views}}</view>
                    <view class="content_ren">人浏览</view>
                    <image class="zan" src="../image/zan.png"></image>
                    <view class="content_num">{{item.givelike}}</view>
                    <view class="content_ren">人点赞</view>
                </view>
                <view class="kuang"></view>
                <view class="bjsc">
                    <view bindtap="bianji" class="bj" data-id="{{item.id}}" wx:if="{{item.state=='2'&&item.hb_money=='0.00'}}">
                        编辑
                    </view>
                    <view bindtap="cancel" data-id="{{item.id}}" style="margin: 10rpx 25rpx;">
                        <image mode="aspectFill" src="../image/cancel.png" style="height:40rpx;width: 40rpx;vertical-align: middle"></image>
                    </view>
                </view>
            </view>
        </view>
        <view class="loading rel" style="height: 60rpx;" wx:if="{{refresh_top==true&&slide.length!=0}}">
            没有更多了~
        </view>
        <view class="loading rel" style="height: 60rpx;" wx:if="{{refresh_top==false&&slide.length!=0}}">
            <image class="ab udlr" mode="widthFix" src="../image/loading.gif"></image>
        </view>
        <view class="none ab udlr" wx:if="{{slide==null||slide.length==0}}">
            <view>
                <image mode="widthFix" src="../image/tie2.png"></image>
                <view class="center">你还没有发布{{System.tzmc}}喔</view>
            </view>
        </view>
    </view>
    <view class="rel" hidden="{{activeIndex!=1}}">
        <view class="content" wx:if="{{audit!=null||audit.length!=0}}" wx:for="{{audit}}">
            <view class="content_top">
                <view class="content_left">
                    <image class="content_img" src="{{user_img}}"></image>
                    <view class="content_zhong">
                        <view class="content_name">{{item.user_name}}</view>
                        <view class="content_text">
                            <view class="content_zheng">{{item.type2_name}}</view>
                        </view>
                    </view>
                </view>
                <view bindtap="phone" class="content_right" data-id="{{item.user_tel}}">
                    <view class="rel">
                        <image class="ab udlr" mode="aspectFill" src="../image/phone1.gif"></image>
                    </view>
                    <view class="rel">
                        <image class="ab udlr" mode="aspectFill" src="../image/phone1.gif"></image>
                    </view>
                </view>
            </view>
            <view class="content_wen">{{item.details}}</view>
            <view class="content_picture" wx:if="{{item.img!=''}}">
                <image src="{{url}}{{item}}" wx:for="{{item.img}}"></image>
            </view>
            <view class="content_chakan">
                <view class="content_info">{{item.time}}发布 ({{item.cityname}})</view>
                <view bindtap="see" class="content_info2" data-id="{{item.id}}">查看详情>></view>
            </view>
            <view class="content_liulan">
                <image class="eye" src="../image/liulan.png"></image>
                <view class="content_num">{{item.views}}</view>
                <view class="content_ren">人浏览</view>
                <image class="zan" src="../image/zan.png"></image>
                <view class="content_num">{{item.givelike}}</view>
                <view class="content_ren">人点赞</view>
                <view class="kuang"></view>
            </view>
        </view>
        <view class="none ab udlr" wx:if="{{audit==null||audit.length==0}}">
            <view>
                <image mode="widthFix" src="../image/tie2.png"></image>
                <view class="center">暂无审核中的{{System.tzmc}}</view>
            </view>
        </view>
    </view>
    <view class="rel" hidden="{{activeIndex!=2}}">
        <view class="content" wx:if="{{adopt!=null||adopt.length!=0}}" wx:for="{{adopt}}">
            <view class="content_top">
                <view class="content_left">
                    <image class="content_img" src="{{user_img}}"></image>
                    <view class="content_zhong">
                        <view class="content_name">{{item.user_name}}</view>
                        <view class="content_text">
                            <view class="content_zheng">{{item.type2_name}}</view>
                        </view>
                    </view>
                </view>
                <view bindtap="phone" class="content_right" data-id="{{item.user_tel}}">
                    <view class="rel">
                        <image class="ab udlr" mode="aspectFill" src="../image/phone1.gif"></image>
                    </view>
                    <view>拨打电话</view>
                </view>
            </view>
            <view class="content_wen">{{item.details}}</view>
            <view class="content_picture" wx:if="{{item.img!=''}}">
                <image src="{{url}}{{item}}" wx:for="{{item.img}}"></image>
            </view>
            <view class="content_chakan">
                <view class="content_info">{{item.time}}发布 ({{item.cityname}})</view>
                <view bindtap="see" class="content_info2" data-id="{{item.id}}">查看详情>></view>
            </view>
            <view class="content_liulan">
                <image class="eye" src="../image/liulan.png"></image>
                <view class="content_num">{{item.views}}</view>
                <view class="content_ren">人浏览</view>
                <image class="zan" src="../image/zan.png"></image>
                <view class="content_num">{{item.givelike}}</view>
                <view class="content_ren">人点赞</view>
                <view class="kuang"></view>
            </view>
        </view>
        <view class="none ab udlr" wx:if="{{adopt==null||adopt.length==0}}">
            <view>
                <image mode="widthFix" src="../image/tie2.png"></image>
                <view class="center">暂无已通过的{{System.tzmc}}</view>
            </view>
        </view>
    </view>
    <view class="rel" hidden="{{activeIndex!=3}}">
        <view class="content" wx:if="{{refuse!=null||refuse.length!=0}}" wx:for="{{refuse}}">
            <view class="content_top">
                <view class="content_left">
                    <image class="content_img" src="{{user_img}}"></image>
                    <view class="content_zhong">
                        <view class="content_name">{{item.user_name}}</view>
                        <view class="content_text">
                            <view class="content_zheng">{{item.type2_name}}</view>
                        </view>
                    </view>
                </view>
                <view bindtap="phone" class="content_right" data-id="{{item.user_tel}}">
                    <view class="rel">
                        <image class="ab udlr" mode="aspectFill" src="../image/phone1.gif"></image>
                    </view>
                    <view>拨打电话</view>
                </view>
            </view>
            <view class="content_wen">{{item.details}}</view>
            <view class="content_picture" wx:if="{{item.img!=''}}">
                <image src="{{url}}{{item}}" wx:for="{{item.img}}"></image>
            </view>
            <view class="content_chakan">
                <view class="content_info">{{item.time}}发布 ({{item.cityname}})</view>
                <view bindtap="see" class="content_info2" data-id="{{item.id}}">查看详情>></view>
            </view>
            <view class="content_liulan">
                <image class="eye" src="../image/liulan.png"></image>
                <view class="content_num">{{item.views}}</view>
                <view class="content_ren">人浏览</view>
                <image class="zan" src="../image/zan.png"></image>
                <view class="content_num">{{item.givelike}}</view>
                <view class="content_ren">人点赞</view>
                <view class="kuang"></view>
            </view>
        </view>
        <view class="none ab udlr" wx:if="{{refuse==null||refuse.length==0}}">
            <view>
                <image mode="widthFix" src="../image/tie2.png"></image>
                <view class="center">暂无被拒绝的{{System.tzmc}}</view>
            </view>
        </view>
    </view>
</view>
<view class="base" wx:if="{{iszd==true}}">
    <view class="rel">选择置顶让更多人看到</view>
    <view bindtap="selected" class="array rel" id="{{index}}" wx:for="{{stick}}" wx:key="*this">
        {{item.array}}
    </view>
    <view bindtap="qxzd" class="rel">取消置顶</view>
</view> -->