.llfb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28rpx;
    padding: 15rpx 30rpx;
    background: #fff;
    border-bottom: 1rpx solid #e5e5e5;
    color: #666;
}

.llfbrt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.llfbrt view {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.llfbrt image {
    width: 30rpx;
    height: 30rpx;
    margin-right: 10rpx;
}

.llfbrt>view {
    margin-right: 20rpx;
}

.llfbleft image {
    width: 50rpx;
    height: 50rpx;
}

.plate {
    width: 100%;
    height: auto;
    margin: 0 auto 0;
    background: #fff;
}

.plate_form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.plate_form button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
}

.plate_form button::after {
    border: none;
}

.plate>view {
    width: 46%;
    height: 160rpx;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 10rpx;
    margin-bottom: 20rpx;
}

.plate>view view {
    display: inline-block;
    vertical-align: top;
}

.plate>view view:nth-child(1) {
    width: 70%;
    height: 100%;
}

.plate>view view:nth-child(2) {
    width: 30%;
    height: 90%;
}

.plate>view view image {
    width: 80rpx;
    height: 80rpx;
    left: 0;
}

.plate>view:nth-child(even) {
    margin-left: 4%;
}

.plate>view:nth-child(odd) {
    margin-left: 2%;
}

.plate>view view view:nth-child(1) {
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    font-size: 32rpx;
    font-weight: bold;
    color: #fff;
    text-indent: 30rpx;
}

.plate>view view view:nth-child(2) {
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 20rpx;
}

.plate>view view view text {
    padding: 7rpx 15rpx;
    border-radius: 30rpx;
    border: 2rpx solid #fff;
    color: #fff;
    margin-left: 20rpx;
}

.big_border {
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: #f5f5f5;
}

.advert {
    width: 100%;
    height: 100%;
    position: fixed;
}

.search_info {
    width: 576rpx;
    height: auto;
    left: 181rpx;
    top: 75rpx;
    z-index: 5000000000;
}

.loading {
    width: 100%;
    height: 60rpx;
    background: #fff;
    color: #999;
    line-height: 60rpx;
    text-align: center;
    font-size: 22rpx;
}

.loading image {
    width: 69rpx;
    height: 15rpx;
}

.search_info>view {
    width: 91%;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 26rpx;
    text-indent: 15rpx;
    color: #333;
    background: #fff;
    border-bottom: 1rpx solid #f7f7f7;
}

.advert>view:nth-child(1) {
    width: 80%;
    height: 80%;
    border-radius: 15rpx;
    overflow: hidden;
    z-index: 500;
}

.advert>view:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000;
    z-index: 100;
    opacity: 0.5;
}

.advert view swiper {
    width: 100%;
    height: 100%;
}

.image1 {
    width: 60rpx;
    height: 60rpx;
    position: absolute;
    right: 0;
    top: 0;
}

body {
    background-color: #f2f2f2;
}

.zepto {
    width: 750rpx;
    height: 266rpx;
}

.search {
    width: 100%;
    height: 90rpx;
    font-size: 26rpx;
}

.search_dizhi {
    height: 90rpx;
    margin-left: 20rpx;
    color: white;
}

.search_dizhi view {
    height: 90rpx;
    line-height: 90rpx;
}

.searchk {
    width: 30rpx;
    height: 30rpx;
}

.search_xiala {
    width: 25rpx;
    height: 15rpx;
    margin-left: 10rpx;
}

.search_rit {
    background-color: white;
    margin-left: 50rpx;
    border-radius: 35rpx;
    margin-right: 5rpx;
    padding: 0rpx 10rpx;
}

.search_inp {
    width: 500rpx;
    height: 60rpx;
    margin-left: 15rpx;
    color: #666;
}

.body {
    width: 100%;
    height: auto;
}

.banner {
    width: 100%;
    height: 360rpx;
}

.newest_content {
    width: 80%;
    height: 50rpx;
    float: left;
    line-height: 50rpx;
    margin-left: 10rpx;
    font-size: 28rpx;
    color: #333;
}

.swiper-container {
    position: relative;
}

.swiper-container .swiper {
    /*height: 360rpx;*/
}

.swiper-container .swiper .img {
    width: 100%;
    height: 100%;
}

.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20rpx;
    display: flex;
    width: 238rpx;
    margin: auto;
    border-radius: 10rpx;
    height: 20rpx;
    justify-content: center;
}

.dot {
    margin: 4rpx 8rpx;
    width: 30rpx;
    height: 6rpx;
    background: rgb(255,255,255);
    border: rgb(218,69,70) solid 1rpx;
    border-radius: 8rpx;
    transition: all 0.6s;
}

.active {
    width: 30rpx;
    background: #f80;
}

.weathernav {
    font-size: 26rpx;
    padding: 20rpx;
    color: #333;
    background-color: white;
}

.weathertime {
    margin-top: 15rpx;
}

.weather {
    margin-left: 25rpx;
    width: 45%;
}

.weatherinfo {
    width: 100%;
    height: 40rpx;
}

.weath_img {
    width: 70rpx;
    height: 60rpx;
    margin-left: 17rpx;
}

.liulan {
    width: 45%;
    padding: 0rpx 10rpx;
    margin-left: 30rpx;
}

.liulan>view:nth-child(1) {
    margin-bottom: 15rpx;
}

.liulan_color1 {
    color: #fc6c49;
}

.liulan_color2 {
    color: #299eee;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 30rpx;
}

.nav-mode {
    height: 134rpx;
    width: 110rpx;
    overflow: hidden;
    font-size: 26rpx;
    text-align: center;
    color: rgb(0,0,0);
    margin: 20rpx 20rpx 0rpx;
}

.nav-mode>image {
    display: inline-block;
    width: 70rpx;
    height: 70rpx;
}

.nav-name {
    display: inline-block;
    color: black;
    width: 100%;
    height: 10rpx;
    font-size: 6rpx;
}

.classify {
    width: 100%;
    background: #fff;
}

.classify swiper-item {
    width: 100%;
    height: 100%;
}

.classify swiper-item view {
    width: 20%;
    height: 150rpx;
    float: left;
}

.classify swiper-item view .classify_logo {
    width: 100%;
    height: 100rpx;
}

.classify swiper-item view .classify_logo image {
    width: 75rpx;
    height: 75rpx;
    background: #fff;
}

.classify swiper-item view .classify_name {
    width: 100%;
    height: 45rpx;
    line-height: 45rpx;
    font-size: 28rpx;
    color: #666;
}

.ad {
    margin-top: 12rpx;
    height: 64rpx;
    text-align: top;
    background-color: white;
    overflow: hidden;
}

.ad-icon {
    line-height: 64rpx;
    margin-top: 15rpx;
    margin-left: 30rpx;
    float: left;
    height: 35rpx;
    width: 40rpx;
}

.adinfo {
    margin-left: 16rpx;
    float: left;
    font-size: 28rpx;
    margin-top: 20rpx;
    height: 30rpx;
    line-height: 30rpx;
    width: 650rpx;
}

.adinfo rich-text {
    width: 100%;
}

.nav_index_text {
    margin-top: 15rpx;
    font-size: 24rpx;
}

.market {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
    margin-top: 20rpx;
}

.markettitle {
    width: 94%;
    height: 63rpx;
    background-color: white;
    line-height: 63rpx;
    margin: 0 auto 0;
    font-size: 26rpx;
    color: rgb(0,0,0);
    border-bottom: rgb(242,242,242) solid 1px;
}

.markettitle>view:nth-child(1) {
    width: 55rpx;
    height: 100%;
    left: 0;
    overflow: hidden;
}

.markettitle>view:nth-child(2) {
    font-size: 30rpx;
    color: #ec6744;
}

.moremarket {
    float: right;
    color: rgb(102,102,102);
    font-size: 24rpx;
    overflow-x: hidden;
}

.marketlist {
    height: 210rpx;
    width: 100%;
    padding-left: 30rpx;
    padding-top: 20rpx;
    white-space: nowrap;
}

.none_store {
    width: 100%;
    height: 400rpx;
    background: #fff;
}

.none_store>view:nth-child(1) {
    width: 100%;
    height: 350rpx;
}

.img1 {
    height: 70%;
    width: 40%;
}

.img2 {
    height: 100%;
}

.none_store>view:nth-child(2) {
    width: 100%;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 28rpx;
    color: #999;
}

.marketlist_one {
    width: 150rpx;
    height: 200rpx;
    border-radius: 6rpx;
    margin-right: 40rpx;
    display: inline-block;
}

.marketlist_wai {
    width: 150%;
    height: 200rpx;
}

.marketlist_one>image {
    width: 150rpx;
    height: 150rpx;
}

.marketlist_one>view {
    font-size: 26rpx;
    color: #333;
    text-align: center;
    margin-top: 10rpx;
}

.recommend {
    width: 100%;
    height: 88rpx;
    margin-top: 12rpx;
}

.recommend>view:nth-child(1) {
    width: 15%;
    text-align: center;
    background: #fff;
    border-bottom: 5rpx solid #ed414a;
    float: left;
    line-height: 88rpx;
    font-size: 30rpx;
    box-sizing: border-box;
    color: rgb(102,102,102);
}

.normal {
    color: #999;
}

.nav-two {
    height: 88rpx;
    background: #fff;
    width: 85%;
    white-space: nowrap;
    float: left;
}

.nav-two view {
    width: auto;
    display: inline-block;
    line-height: 88rpx;
    font-size: 30rpx;
    padding: 0 10rpx;
}

.uls {
    height: 88rpx;
    width: auto;
    background: orange;
}

.listss {
    width: auto;
    padding: 0 20rpx;
    height: 83rpx;
    display: inline-block;
    line-height: 88rpx;
    font-size: 26rpx;
    color: rgb(102,102,102);
}

.section {
    background-color: white;
    margin-top: 12rpx;
    padding: 20rpx 20rpx 0rpx;
}

.section>view:nth-child(2) {
    margin-left: 19rpx;
}

.section>view:nth-child(6) {
    margin-left: 19rpx;
}

.section>view:nth-child(4) {
    margin-left: 19rpx;
}

.section_box {
    width: 43%;
    height: 150rpx;
    border-radius: 10rpx;
    color: white;
    padding: 0rpx 20rpx;
    margin-bottom: 20rpx;
}

.section_box1 {
    background-color: #ec6744;
}

.section_box2 {
    background-color: #73c877;
}

.section_box3 {
    background-color: #53a5f7;
}

.section_box4 {
    background-color: #f4b54e;
}

.section_box5 {
    background: #ffc71c;
}

.section_box6 {
    background: #fc448e;
}

.bold {
    color: #ed414a;
}

.section_margin {
}

.hongbao_text2 {
    font-size: 32rpx;
    font-weight: bold;
}

.section_img {
    width: 80rpx;
    height: 80rpx;
}

.hongbao_text {
    font-size: 20rpx;
    border: 2rpx solid white;
    border-radius: 50rpx;
    padding: 7rpx 15rpx;
    margin-top: 20rpx;
}

.markets {
    width: 100%;
    padding-top: 1rpx;
    margin-bottom: 24rpx;
    background-color: white;
}

.marketinfo {
    width: 690rpx;
    margin-left: 30rpx;
    margin-top: 23rpx;
    position: relative;
}

.market-logo {
    width: 104rpx;
    height: 104rpx;
    display: inline-block;
}

.market-title {
    position: absolute;
    top: 0;
    left: 90rpx;
    margin-top: 10rpx;
    vertical-align: top;
    margin-left: 26rpx;
    color: rgb(30,173,240);
    font-size: 30rpx;
}

.top {
    position: absolute;
    top: 60rpx;
    left: 120rpx;
    height: 44rpx;
    padding: 0rpx 20rpx;
    line-height: 44rpx;
    font-size: 28rpx;
    background-color: #ff8f0b;
    color: white;
}

.serve {
    position: absolute;
    top: 60rpx;
    left: 200rpx;
    height: 44rpx;
    padding: 0rpx 20rpx;
    line-height: 44rpx;
    font-size: 28rpx;
    background-color: #1cdba7;
    color: white;
}

.tel {
    width: 204rpx;
    height: 58rpx;
    float: right;
    vertical-align: center;
    margin-top: 22rpx;
    border-radius: 10rpx;
}

.marketintro {
    padding: 0 30rpx;
    padding-top: 30rpx;
    padding-bottom: 26rpx;
    color: rgb(102,102,102);
    font-size: 26rpx;
    line-height: 48rpx;
}

.marketimg {
    height: 158rpx;
    padding: 0 30rpx;
    display: flex;
}

.marketimg>image {
    width: 158rpx;
    height: 158rpx;
    margin-right: 20rpx;
}

.view {
    padding: 0 30rpx;
    height: 143rpx;
    position: relative;
}

.viewtime {
    float: left;
    font-size: 24rpx;
    color: rgb(102,102,102);
    margin-top: 22rpx;
}

.more {
    font-size: 24rpx;
    color: rgb(39,122,161);
    float: right;
    margin-top: 22rpx;
}

.viewnum {
    background-color: #f1f1f1;
    width: 100%;
    height: 54rpx;
    margin-top: 16rpx;
    float: left;
    line-height: 44rpx;
    color: #727272;
    font-size: 24rpx;
}

.kuang {
    position: absolute;
    content: "";
    border-width: 15rpx;
    border-style: solid;
    border-color: transparent transparent #f1f1f1 #f1f1f1;
    transform: rotate(135deg);
    left: 60rpx;
    top: 60rpx;
}

.views {
    margin-left: 18rpx;
    display: inline-block;
    width: 37rpx;
    height: 20rpx;
}

.viewsnum {
    margin-left: 20rpx;
    display: inline-block;
    height: 20rpx;
    margin-right: 7rpx;
    color: #2cb2f0;
    font-size: 24rpx;
}

.zan {
    width: 33rpx;
    height: 33rpx;
    margin-left: 30rpx;
    margin-right: 20rpx;
    margin-top: 0rpx;
}

.zannum {
    display: inline-block;
    margin-right: 7rpx;
    color: #2cb2f0;
    font-size: 24rpx;
}

.zbanner {
    width: 100%;
}

.zzf {
    width: 100%;
}

.content {
    width: 100%;
    padding: 30rpx;
    background-color: white;
    margin-top: 20rpx;
}

.weui-tab__content {
    padding-top: 0;
}

.content_left {
    display: flex;
    align-items: center;
}

.content_top {
    height: 105rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_right {
    width: 180rpx;
    height: 60rpx;
    margin-right: 50rpx;
    background: #ed414a;
    border-radius: 10rpx;
}

.content_right>view {
    float: left;
}

.content_right>view image {
    height: 40rpx;
    width: 40rpx;
    margin-left: 10rpx;
}

.content_right>view:nth-child(1) {
    height: 100%;
    width: 60rpx;
}

.content_right>view:nth-child(2) {
    height: 100%;
    width: 120rpx;
    font-size: 28rpx;
    line-height: 60rpx;
    color: #fff;
}

.content_img {
    width: 105rpx;
    height: 105rpx;
}

.content_zhong {
    margin-left: 20rpx;
}

.content_name {
    font-size: 32rpx;
    color: #1eabf0;
    width: 300rpx;
    height: 40rpx;
    line-height: 40rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content_text {
    display: flex;
    align-items: center;
    margin-top: 10rpx;
}

.content_zheng {
    padding: 7rpx 15rpx;
    font-size: 22rpx;
    text-align: center;
    border-radius: 6rpx;
    color: white;
}

.color1 {
    background-color: #18dba6;
}

.color2 {
    background-color: #ff8915;
}

.content_zhi {
    padding: 2rpx 6rpx;
    font-size: 22rpx;
    text-align: center;
    border-radius: 6rpx;
    color: white;
    margin-right: 10rpx;
}

.hongbao {
    width: 30rpx;
    height: 35rpx;
    margin-left: 10rpx;
}

.content_status {
    color: #999;
    font-size: 26rpx;
    margin-left: 10rpx;
}

.content_wen {
    color: #666;
    width: 95%;
    height: auto;
    font-size: 28rpx;
    line-height: 50rpx;
    margin-top: 10rpx;
}

.content_wen>view {
    width: auto;
    height: 40rpx;
    border-radius: 10rpx;
    padding: 0 15rpx;
    font-size: 22rpx;
    line-height: 40rpx;
    display: inline-block;
    margin-right: 20rpx;
    color: #fff;
    background: #73c877;
    margin-bottom: 20rpx;
}

.content_picture {
    width: 95%;
    height: 160rpx;
}

.content_picture>view {
    width: 23%;
    height: 160rpx;
    display: inline-block;
    margin-right: 2%;
    overflow: hidden;
}

.content_picture>view image {
    width: 100%;
    height: 160rpx;
    border-radius: 10rpx;
    left: 0;
}

.content_chakan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26rpx;
    margin-top: 20rpx;
}

.content_info {
    color: #666;
    height: 30rpx;
}

.time1 {
    font-size: 24rpx;
}

.content_info2 {
    color: #1a7e95;
}

.content_info image {
    width: 29rpx;
    height: 30rpx;
}

.content_info text {
    vertical-align: top;
    height: 100%;
    line-height: 30rpx;
    color: #0e6b82;
    text-indent: 5rpx;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 600rpx;
}

.content_liulan {
    width: 100%;
    height: 55rpx;
    padding: 1rpx;
    background-color: #f2f2f2;
    display: flex;
    margin-top: 30rpx;
    align-items: center;
    font-size: 26rpx;
    position: relative;
}

.eye {
    width: 35rpx;
    height: 22rpx;
    margin-left: 30rpx;
    margin-right: 20rpx;
}

.content_num {
    color: #1eabf0;
}

.content_ren {
    color: #666;
}

.zan {
    width: 33rpx;
    height: 33rpx;
    margin-left: 30rpx;
    margin-right: 20rpx;
}

.kuang {
    position: absolute;
    content: "";
    border-width: 20rpx;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 #f2f2f2;
    transform: rotate(135deg);
    left: 35px;
    top: -10px;
}

.tmImage{
    height:50rpx;
    width:50%;
    margin-left:25%;
    margin-top:100rpx;       
}

navigator{
    height: auto;
    width: 100%;
}

.grid{
    border-top: 1rpx solid #e9eaec;
    border-left: 1rpx solid #e9eaec;
    overflow: hidden;
}

.grid-item{
    position: relative;
    float: left;
    padding: 20px 10px;
    width: 33.33333333%;
    box-sizing: border-box;
    border-right: 1rpx solid #e9eaec;
    border-bottom: 1rpx solid #e9eaec;
}

/* .grid-icon{
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
} */
.grid-icon{
    display: block;
    width: 100rpx;
    height: 100rpx;
    margin: 0 auto;
}

.grid-icon image{
    height: 100%;
    width: 100%;
}

.grid-label{
    margin-top: 5px;
    display: block;
    text-align: center;
    color: #1c2438;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.search-bar{
    width:75%;
}

.symbols-search{
    height:50rpx;
    width:50rpx;
    margin-left: 30rpx;
}