.enterButton {
    width: 50% !important;
    margin-left: 25% !important;
    margin-top: 200rpx !important;
    color: #52bad1 !important;
    border-radius: 50rpx;
    box-shadow: 0 0 5rpx #afafaf;
    background-color: white;
}

.text_info {
    font-size: 40rpx;
    text-align: center;
    color: white;
}

.space_top {
    margin-top: 200rpx;
}

Page {
    background-color: #52bad1;
}