<view>
    <!-- <view class="weui-navbar2">
        <view bindtap="navClick" class="weuiitem2 {{activeIndexe==index?'item_on':''}}" id="{{index}}" wx:for="{{tabs}}" wx:key="*this">
            <view>{{item}}</view>
        </view>
        <view class="weslider2" style="left: {{sliderLefte}}px; transform: translateX({{sliderOffsete}}px); -webkit-transform: translateX({{sliderOffsete}}px);"></view>
    </view> -->
    <!-- <view class="" hidden="{{activeIndexe!=0}}"> -->
        <view wx:if="{{classification_info.length>0}}">
            <view class="weui-tab__content content" wx:for="{{classification_info}}" wx:key="*this">
                <view class="content_top">
                    <view class="content_left">
                        <image class="content_img" src="{{item.user_img}}"></image>
                        <view class="content_zhong">
                            <view class="content_name">{{item.user_name}}</view>
                            <view class="content_text">
                                <view class="content_zheng">{{item.type_name}}</view>
                            </view>
                        </view>
                    </view>
                    <!-- <view bindtap="phone" class="content_right" data-id="{{item.user_tel}}">
                        <view class="rel">
                            <image class="ab udlr" mode="aspectFill" src="../image/phone1.gif"></image>
                        </view>
                        <view>拨打电话</view>
                    </view> -->
                </view>
                <view class="content_wen constraint-word">题目：</view>
                <view class="content_wen constraint-word">{{item.post_title}}</view>
                <view class="content_wen constraint-word" style="margin-top:20rpx;">回答：</view>
                <view class="content_wen constraint-word">{{item.details}}
        </view>
                <view class="content_picture" wx:if="{{item.img1!=''}}">
                    <image src="{{url}}{{item}}" wx:for="{{item.img1}}"></image>
                </view>
                <view class="content_chakan">
                    <view class="content_info">{{item.time}}发布</view>
                    <view bindtap="see" class="content_info2" data-id="{{item.id}}">查看详情>></view>
                </view>
            </view>
        </view>
        <view class="none" wx:if="{{classification_info.length==0}}">
            <view class="ab udlr">
                <view class="rel">
                    <image class="ab udlr" mode="widthFix" src="../image/tie1.png"></image>
                </view>
                <view>暂无已经收藏的{{System.tzmc}}</view>
            </view>
        </view>
    <!-- </view> -->
    <!-- <view class="" hidden="{{activeIndexe!=1}}" style="background:#fff">
        <view class="store rel" wx:for="{{sellers}}">
            <view class="store_img fl rel">
                <image class="ab udlr" mode="aspectFill" src="{{url}}{{item.logo}}"></image>
            </view>
            <view bindtap="store" class="store_info fl" data-id="{{item.store_id}}">
                <view>{{item.store_name}}</view>
                <view class="rel gobyndsingle">
                    <image class="store_icon ab ud" mode="widthFix" src="../image/address.png"></image>
          {{item.address}}
        </view>
                <view class="store_star fl">
                    <view class="rel" wx:for="{{item.star}}">
                        <image class="ab udlr" mode="widthFix" src="{{item.img}}"></image>
                    </view>
                </view>
            </view>
            <view class="store_tel ab ud">
                <image bindtap="phone1" data-tel="{{item.tel}}" mode="widthFix" src="../image/telephone.png"></image>
                <view>{{item.distance}}KM</view>
            </view>
        </view>
        <view class="none" wx:if="{{sellers.length==0||sellers==null}}">
            <view class="ab udlr">
                <view class="rel">
                    <image class="ab udlr" mode="widthFix" src="../image/tie1.png"></image>
                </view>
                <view>暂无已经收藏的商家</view>
            </view>
        </view>
    </view> -->
</view>
